<nav class="navbar navbar-expand-md navbar-dark bg-dark fs-4 ">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-3 mx-8" href="#">Mas Limpio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="A/nuestros/clientes">
              <button class="btn btn-primary fs-5 mx-2 fw-1" aria-current="page" href="#">A nuestros clientes...</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Catalogo">
              <button class="btn btn-info fs-5 mx-2 fw-1" aria-current="page" href="#">Catálogo</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Preguntas/Frecuentes">
              <button class="btn btn-info fs-5 mx-2 fw-1" aria-current="page" href="#">Preguntas frecuentes</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="La/Empresa">
              <button class="btn btn-info fs-5 mx-2 fw-1" aria-current="page" href="#">La Empresa</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Contacto">
              <button class="btn btn-info fs-5 mx-2 fw-1" aria-current="page" href="#">Contacto</button></a>
            </li>
          </ul>
        </div>
        <span class="navbar-text">
            <a href="">
                <i class="bi bi-facebook mx-2"></i>
            </a>
            <a href="">
                <i class="bi bi-instagram mx-2"></i>
            </a>
            <a href="">
                <i class="bi bi-twitter mx-2"></i>
            </a>
        </span>
        <nav >
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2 bi bi-search" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </nav>  
